[submodule "Scriptable-OpenNetBattle-Server"]
	path = Scriptable-OpenNetBattle-Server
	url = https://github.com/ArthurCose/Scriptable-OpenNetBattle-Server
[submodule "scripts/ezlibs-scripts"]
	path = scripts/ezlibs-scripts
	url = https://github.com/Keristero/ezlibs-scripts
[submodule "assets/ezlibs-assets"]
	path = assets/ezlibs-assets
	url = https://github.com/Keristero/ezlibs-assets
